{% extends "base.html" %}
{% block content %}

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container">

    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
            <h3>The <strong>Goals</strong></h3>
            <p data-aos="fade-up">
              Our Mission is to provide the best experiences for our users, aiming the connection between people through sports
            </p>
            <div class="row">
            
              <div class="col-md-6 icon-box"data-aos="fade-up">
                <i class="bx bx-laptop"></i>
                <h4>WebDev</h4>
                <p>Our development team works everyday to improve the platform and make it more intuitive to all users while implementing new functions</p>
              </div>
              
              
            
              <div class="col-md-6 icon-box"data-aos="fade-up" data-aos-delay="100">
                <i class="bx bi-patch-question"></i>
                <h4>Support</h4>
                <p>Support team is readily available to answer and solve all the problems that our customers may face during their use of platform</p>
              </div>
             
              
             
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-medal"></i>
                <h4>Quality</h4>
                <p>Our platform seek to provide the best match making for our users guaranteeing the quality of fixtures</p>
              </div>


              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bi-briefcase"></i>
                <h4>Administration</h4>
                <p>Our administrative part of business works to align the ideology of our core business with the funcional part of platform to deliver the exact service desired by our users. </p>
              </div>
              
              
              </div>
              
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Team</strong></h2>
      <p>Our development team is formed by six Management Engineering graduate students. We combine our expertise to always offer the best solutions for our customers.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-1.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Corbella Elio</h4>
            <span>s296315</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-3.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Liu Guo Alexandre</h4>
            <span>s293909</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-1.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Nigro Matheo Lucas</h4>
            <span>s293949</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-2.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Nodrini Barbara</h4>
            <span>s292001</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-3.jpg') }}" class="img-fluid" alt="">
            <div class="social">
              <a href="https://www.linkedin.com/in/marcusdelboux"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Roso D'Elboux Marcus Vinicius</h4>
            <span>s293692</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{{ url_for('static', filename='/img/team/team-4.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Vasconcelos Araujo Gabriela</h4>
            <span>s293948</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Our Team Section -->


<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Partners</strong></h2>
      <p>Sport brands, sport item retail shops, sport courts and facilities, energy foods and health foods are partners that help our users an overall better experience</p>
    </div>

  </div>
</section><!-- End Our Clients Section -->

{% endblock content %}