{% extends "base.html" %}
{% block content %}

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center">

      <div class="col-lg-8 entries">

        <div class="blog-author d-flex align-items-center">
          <img src="{{ image_file }}" class="rounded-circle float-left" alt="">
          <div>
            <h4>{{ current_user.name }}</h4>
            <p>
              {{ current_user.email }}
            </p>
          </div>
        </div><!-- End blog author bio -->

        <div class="blog-comments">              

          <div class="reply-form">
            <h4>Coach account Information</h4>

            <form method="POST" action="" enctype="multipart/form-data">
							{{ form.hidden_tag() }}
            	
            	<div class="row mt-3">
            		<div class="col-sm-6">
            			{{ form.hourly_rate.label(class="form-label") }}
					        {{ form.hourly_rate(class="form-control") }}
            		</div>
            		<div class="col-sm-6">
            			{{ form.phone_number.label(class="form-label") }}
					        {{ form.phone_number(class="form-control") }}
            		</div>
            	</div>
            	<div class="row mt-3">
            		<div class="col-sm-6">
            			{{ form.description.label(class="form-label") }}
					        {{ form.description(class="form-control h-75") }}
            		</div>
            		<div class="col-sm-6">
            			{{ form.sports.label(class="form-label") }}
					        {{ form.sports(class="form-select h-75", multiple="") }}
            		</div>
            	</div>
            	{% if plan == "Premium" %}
	            	<div class="row mt-3">
	            		<div class="col">
	            			{{ form.card.label(class="form-label") }}
						        {{ form.card(class="form-control") }}
	            		</div>
	            	</div>
            	{% endif %}
            	<div class="row mt-3">
								<div class="col text-center">
					    		{{ form.submit(class="btn btn-primary") }}
								</div>
							</div>

            </form>

          </div>

        </div><!-- End blog comments -->

      </div><!-- End blog entries list -->

    </div>

  </div>
</section><!-- End Blog Single Section -->

{% endblock content %}