{% extends 'base.html' %}
{% block content %}

<section id="testimonials" class="testimonials">
  <div class="container">
  	<div class="row">
  		<div class="col-8">
  			<h4>Find someone to coach you!</h4>
  		</div>
  		<div class="col-4 text-end">
  			<!-- Button trigger modal -->
  			<p>Filter:
	      <a role="button" class="btn btn-light" href="{{ url_for('filter_coach') }}">
	        <i class="bi-search"></i>
	      </a></p>
  		</div>
  	</div>

    {% set count = namespace(value=0) %}
  	{% if premium_coaches.count() != 0 %}
  	<!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="row mb-2 text-center">
          <h3>Our <strong>Stars</strong></h3>
          <p>These are some of the best coaches in our platform:</p>
        </div>

        <div class="row justify-content-center section-bg">
        	{% for coach in premium_coaches %}
	        	{% if coach.plan_id == 2 and count.value <= 4 %}
		          <div class="col-lg-3 col-md-6 align-self-center d-flex align-items-stretch justify-content-center">
		            <div class="member" data-aos="fade-up" {% if count.value != 0 %} data-aos-delay="{{ count.value }}00" {% endif %}>
		              <div class="member-img">
		                <img src="{{ url_for('static', filename='img/profile_pictures/' + coach.card_file) }}" class="img-fluid" alt="">
		              </div>
		              <div class="member-info text-center">
		                <h4><a href="{{ url_for('details_coach', coach_id=coach.id) }}">{{ coach.name }}</a></h4>
		                <span><i class="bi bi-whatsapp"></i> <a href="https://wa.me/39{{ coach.phone_number }}?text=I'm%20interested%20in%20your%20coaching%20services">+39 {{ coach.phone_number }}</a></span>
		              </div>
		            </div>
		          </div>
		          {% set count.value = count.value + 1 %}
		        {% endif %}
		      {% endfor %}
        </div>
			</div>
		</section>
    <!-- End Our Team Section -->
    {% endif %}

    <div class="row">
    {% for coach in coaches.items %}
  		<div class="col-lg-12 {% if count.value != 0 %} mt-4 {% endif %}" data-aos="fade-up" {% if count.value != 0 %} data-aos-delay="{{ count.value + loop.index0 }}00" {% endif %}>
        <div class="testimonial-item">
        	<div class="row justify-content-start">
        		<div class="col col-lg-1 col-md-2 col-4">
	          <img src="{{ url_for('static', filename='img/profile_pictures/' +
	                        coach.image_file) }}" class="testimonial-img" alt="">
	          </div>
	          <div class="col col-lg-11 col-md-10 col-8">
	          <h3>
	          <a href="{{ url_for('details_coach', coach_id=coach.id) }}">
	          	{{ coach.name | truncate(20) | title }}
	          </a>
	          </h3>
	          <h4>{{ coach.hourly_rate | round(2) }}€ per hour - {{ coach.phone_number }}</h4>
	        	</div>
          </div>
        </div>
      </div>
	  {% endfor %}
    </div>

    <div class="row mt-2">
  			<p>Didn't find anyone to coach with? You can <a href="{{ url_for('find_match') }}">Find a Match</a> instead!</p>
  	</div>

    <div class="text-center" >
    	{% for page_num in coaches.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
	  		{% if page_num %}
	  			{% if coaches.page == page_num %}
	  				<a class="btn btn-dark active mt-4" href="{{url_for('find_coach', page=page_num) }}">{{ page_num }}</a>
	  			{% else %}
	  				<a class="btn btn-outline-dark mt-4" href="{{url_for('find_coach', page=page_num) }}">{{ page_num }}</a>
	  			{% endif %}

	  		{% else %}

	  		{% endif %}
  	
  		{% endfor %}
  	</div>
		
  </div>
</section>

{% endblock content %}