{% extends "base.html" %}
{% block content %}

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="fade-right">
          <h3>Free</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li class="na">Pharetra massa</li>
            <li class="na">Massa ultricies mi</li>
          </ul>
          <div class="btn-wrap">
            <form action="" method="post" id="free">
              <input type="hidden" id="selectfree" name="selectfree" value=1>
              <a href="javascript:{}" onclick="document.getElementById('free').submit(); return false;" class="btn-buy">Buy Now</a>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="fade-left">
          <h3>Premium</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li>Pharetra massa</li>
            <li class="na">Massa ultricies mi</li>
          </ul>
          <div class="btn-wrap">
            <form action="" method="post" id="premium">
              <input type="hidden" id="selectpremium" name="selectpremium" value=2>
              <a href="javascript:{}" onclick="document.getElementById('premium').submit(); return false;" class="btn-buy">Buy Now</a>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

{% endblock content %}