{% extends 'base.html' %}
{% block content %}

<section id="contact" class="contact">
	<div class="container">

<div class="row mt-5 justify-content-center" data-aos="fade-up">
      <div class="col-lg-10">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
				<div class="blog-author d-flex align-items-center">
              <div>
                <h4>{{ form.title }}</h4>
                <p>
                  {{ form.date }}
                </p>
                <p>
                  {{ form.description }}
                </p>
                <p>
                  {{ form.location }}
                </p>
                <p>
                  {{ current_user.name }}
                </p>
                  {{ form.sport_id(class="form-select") }}
              </div>
              {{ form.submit }}
            </div><!-- End blog author bio -->
          </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

{% endblock content %}